<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Detail Pembelian </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Home')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="text-align: center">Detail Pembelian</h2>
                    <div class=col-lg-6>
                        <p th:text="'No Invoice : ' + ${pembelian.noInvoice}"></p>
                        <p th:text="'Total Harga : ' + ${pembelian.total}"></p>
                        <p th:text="'Member : ' + ${pembelian.member.namaMember}"></p>
                        <p th:text="'Jumlah Barang : '"></p>
                        <p th:text="'Tanggal Pembelian : ' + ${pembelian.tanggalPembelian}"></p>
                        <p th:text="'Nama Admin : ' + ${pembelian.namaAdmin}"></p>
                        <p th:if="${pembelian.isCash} == true">Metode Pembayaran : Cash</p>
                        <p th:if="${pembelian.isCash} == false">Metode Pembayaran : Ga Cash</p>
                        <div>
                            <a th:href="@{/pembelian/hapus/} + ${pembelian.idPembelian}" class="btn btn-sm btn-danger">Hapus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="text-align: center">Daftar Barang</h2>
                    <div class=col-lg-6>
                        <div>
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Nama</th>
                                    <th>Merk</th>
                                    <th>Tipe</th>
                                    <th>Tanggal Garansi</th>
                                    <th>Harga</th>
                                    <th>qty</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="pb, iterationStatus : ${listPembelianBarang}">
                                    <td th:text="${iterationStatus.count}"></td>
                                    <td th:text="${pb.barang.namaBarang}"></td>
                                    <td th:text="${pb.barang.merkBarang}"></td>
                                    <td th:text="${pb.barang.tipe.namaTipe}"></td>
                                    <td th:text="${pb.tanggalGaransi}"></td>
<!--                                    <div th:with="result=${pb.pembelian.total * obj.aa}">-->
<!--                                        <span th:text="${result}"></span>-->
<!--                                    </div>-->
                                    <td th:text="${pb.barang.hargaBarang}"></td>
                                    <td th:text="${pb.quantity}"></td>
                                    <td th:text="${pb.pembelian.total}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <a th:href="@{/pembelian}" class="btn btn-sm btn-warning">Kembali</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>

