<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Tambah Barang </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Home')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="text-align: center">Form Tambah Barang</h2>
                    <div class=col-lg-6>
                        <form th:action="@{/barang/tambah}" th:object="${barang}" method="POST">
                            <label>Nama Barang: </label> <br>
                            <input required class="form-control" type="text" name="namaBarang"/>
                            <br><br>

                            <label>Kode Barang: </label>
                            <input required class="form-control" type="text" name="kodeBarang"/>
                            <br><br>

                            <label>Merk Barang: </label>
                            <input required class="form-control" type="text" name="merkBarang" />
                            <br><br>

                            <label>Stok Barang: </label>
                            <input required class="form-control" type="text" name="stok" />
                            <br><br>

                            <label>Garansi Barang: </label>
                            <input required class="form-control" type="text" name="jumlahGaransi" />
                            <br><br>

                            <label>Deskripsi Barang: </label>
                            <input required class="form-control" type="text" name="deskripsiBarang" />
                            <br><br>

                            <label>Tipe Barang: </label>
                            <select  th:field="*{tipe}" name="tipe" required class="form-control">
                                <option disabled selected value="0"> -- select an option -- </option>
                                <option th:each="tipe, iterationStatus : ${listTipe}" th:value="${tipe.idTipe}" th:text="${tipe.namaTipe}"></option>
                            </select>
                            <br><br>

                            <label>Harga: </label>
                            <input type="text" name="hargaBarang" required class="form-control" />
                            <br><br>

                            <div>
                                <a th:href="@{/barang}" class="btn btn-outline-warning">Batal</a>
                                <button class="btn btn-warning" type="submit" name="save">Simpan</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>