<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Form Tambah Pembelian </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Home')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="text-align: center">Form Tambah Pembelian</h2>
                    <div class=col-lg-6>
                        <form>
                            <label>Nama Admin: </label>
                            <input required class="form-control" type="text" id="namaAdminForm" name="namaBForm">
                            <br>

                            <label>Pembeli: </label>
                            <select id="tipeBForm" name="tipeBForm" required>
                                <option disabled selected value> -- Pilih member -- </option>
                                <!--            {% for supplier in supplierList %}-->
                                <!--            <option value={{supplier.username}}>{{supplier.username}}</option>-->
                                <!--            {% endfor %}-->d
                            </select>
                            <br>

                            <div>
                                <label>Metode Pembayaran: </label>
                            </div>
                              <input type="radio" id="html" name="fav_language" value="HTML">
                              <label>Tunai</label><br>
                              <input type="radio" id="css" name="fav_language" value="CSS">
                              <label>Cicil</label><br>
                            <br><br>

                            <h4>Daftar Barang</h4>
                            <div>
                            <table>
                                <tr>
                                    <td>
                                        <label>Nama Barang: </label>
                                        <select id="namaBForm" name="namaBForm" required>
                                            <option disabled selected value> -- Pilih member -- </option>
                                            <!--            {% for supplier in supplierList %}-->
                                            <!--            <option value={{supplier.username}}>{{supplier.username}}</option>-->
                                            <!--            {% endfor %}-->d
                                        </select>
                                    </td>
                                    <td>
                                        <label>Qty: </label>
                                        <input required class="form-control" type="text" id="Quantity" name="Quantity">
                                    </td>
                                    <td>
                                        <div>
                                            <button th:href="@{/}" class="btn btn-danger">Hapus</button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
            <div>
                <button th:href="@{/}" class="btn btn-warning">Kembali</button>
            </div>
        </div>
    </div>
</body>
</html>

