<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Ubah Barang </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar('Home')"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">
                    <h2 style="text-align: center">Ubah Barang</h2>
                    <div class=col-lg-6>
                        <form th:action="@{/barang/ubah}" th:object="${barang}" method="POST">
                            <input type="hidden" th:field="*{idBarang}"/>

                            <label>Nama Barang: </label>
                            <input th:value="*{namaBarang}" type="text" name="namaBarang" class="form-control">
                            <br>

                            <label>Kode Barang: </label>
                            <input readonly th:value="*{kodeBarang}" name="kodeBarang" type="text" class="form-control">
                            <br>

                            <label>Merk Barang: </label>
                            <input readonly th:value="*{merkBarang}" name="merkBarang" type="text" class="form-control">
                            <br>

                            <label>Stok Barang: </label>
                            <input th:value="*{stok}"type="text" id="stokBForm" name="stok"  class="form-control">
                            <br>

                            <label>Garansi Barang: </label>
                            <input th:value="*{jumlahGaransi}"type="text" id="garansiBForm" name="jumlahGaransi" class="form-control">
                            <br>

                            <label>Deskripsi Barang: </label>
                            <input th:value="*{deskripsiBarang}"type="text" id="deskripsiBForm" name="deskripsiBarang" class="form-control">
                            <br>

                            <label>Tipe Barang: </label>
                            <select readonly th:field="*{tipe}" name="tipe" required class="form-control">
                                <option th:value="${tipe.idTipe}" th:text="${tipe.namaTipe}"></option>
                            </select>

                            <label>Harga: </label>
                            <input th:value="*{hargaBarang}"type="text" id="hargaBForm" name="hargaBarang" class="form-control">
                            <br>

                            <div>
                                <a th:href="@{/barang}" class="btn btn-outline-warning">Batal</a>
                                <button class="btn btn-warning" type="submit" name="save">Simpan</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

